*.pyc
*.la
*.lo
**/.libs
**/.deps
**/config.log
**/config.status
/oof/pybind/COPYING
/oof/pybind/INSTALL
/oof/**/Makefile
/oof/**/Makefile.in
**/autom4te.cache/
/oof/pybind/aclocal.m4

/oof/pybind/config/ltmain.sh
/oof/pybind/config/missing
/oof/pybind/configure
/oof/pybind/libtool
/oof/pybind/pyoof.cxx
/oof/pybind/pyoof.py
/oof/libtool
/oof/aclocal.m4
/oof/config.h
/oof/config.h.in
/oof/configure
