*.pyc
*.la
*.lo
**/.libs
**/.deps
**/config.log
**/config.status

/oof/**/Makefile
/oof/**/Makefile.in

/bnlib/pybind/COPYING
/bnlib/pybind/INSTALL
/bnlib/**/Makefile
/bnlib/**/Makefile.in

**/autom4te.cache/
/oof/pybind/aclocal.m4

**/pybind/COPYING
**/pybind/INSTALL
**/pybind/config/*
**/pybind/configure
**/pybind/libtool

/oof/pybind/pyoof.cxx
/oof/pybind/pyoof.py

**/libtool
**/aclocal.m4
/oof/config.h
/oof/config.h.in
*/configure
/bnlib/pybind/pybnlib.cxx
/bnlib/pybind/pybnlib.py
/bnlib/stamp-h1

/bnlib/test/kvolume
/bnlib/test/*.o
/oof/stamp-h1
/bnlib/COPYING
/bnlib/INSTALL
/bnlib/bnlib.pc
/bnlib/config.h
/bnlib/config.h.in
/oof/COPYING
/oof/INSTALL


/bnlib/config/*
/oof/config/*

/bnlib/doc/Doxyfile
/build/nix/pkgs/result
/oof/doc/Doxyfile
/bnlib/doc/Kolmog.doxy
oofpy/examples/plots
/oofpy/exapmles/timings
