
Build system:

* Standard autotools build system is used (autoconf/automake/libtool). 

Required compilers:

* C, C++ and Fortran compilers are required. GCC versions 3 and 4 in
  routines use. It appears that gfortran 4.1 *does not work*, so g77
  is required.

Pre-required packages for the OOF holography software:

* Python 2.4 or later

* FFTW v.2 

  ** Note that FFTW v.3 is *not* compatible with FFTW2 and will not
     work in place of FFTW v.2. It should however be possible to have
     both installed on the system if required.

* SWIG 1.3.31 or later

* PGPLOT

* GSL V 1.6 or later

* Boost C++ libraries v. 1.30.0 or later

* CFitsIO

Following Python Libraries:

* numarray

* pyfits

  ** Note: Problems have been reported with pyfits + numpy. If pyfits
     V1.1 and numpy is installed then pyfits will use numpy by
     default. This is the pyfits+numpy configuration and it is not
     backward compatible with pyfits+numarray
